/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .section_padding {
        padding: 40px 0;
    }

    .second_row {
        margin-top: 10px;
    }

    /* header start*/
    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header_logo {
        width: 170px;
    }

    .menu ul {
        margin-top: 15px;
    }

    .menu ul li {

        text-align: right;
        padding: 5px 0 !important;
    }

    .menu ul li a {
        font-size: 16px;
        display: inline-block;
    }

    /* header end*/
    /* banner start*/

    .single_slider-right-content h2 {
        font-size: 24px;
    }

    .single_slider-right-content h1 {
        font-size: 28px;
        margin: 10px 0;
    }

    .single_slider-right-content-wrapper {
        justify-content: center;
        text-align: center;
    }

    .single_slider-right-content a {
        margin-top: 10px;
    }

    .single_slider-right-content p {
        display: none;
    }

    /* banner end */
    /* hire */
    .hire_title h1 {
        font-size: 28px;
        text-align: center;
    }

    .hire_text {
        margin: 15px 0;
        text-align: center;
    }

    .hire_button {
        margin-top: 15px;
    }

    /* hire */
    /* testimonial */
    .testimonial_title {
        font-size: 28px !important;
        margin-bottom: 15px;
    }

    /* testimonial */
    /* footer */
    .footer_menu ul {
        margin: auto;
    }

    /* footer */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .section_padding {
        padding: 50px 0;
    }

    .second_row {
        margin-top: 20px;
    }

    /* header start*/
    .header {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .menu ul {
        margin-top: 15px;
    }

    .menu ul li {

        text-align: right;
        padding: 5px 0 !important;
    }

    .menu ul li a {
        display: inline-block;
    }

    /* header end*/
    /* banner start*/

    .single_slider-right-content h2 {
        font-size: 24px;
    }

    .single_slider-right-content h1 {
        font-size: 28px;
        margin: 10px 0;
    }

    .single_slider-right-content-wrapper {
        justify-content: center;
    }

    .single_slider-right-content a {
        margin-top: 10px;
    }

    /* banner end */
    /* hire */
    .hire_title h1 {
        text-align: center;
    }

    .hire_text {
        margin: 15px 0;
        text-align: center;
    }

    .hire_button {
        margin-top: 15px;
    }

    /* hire */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .section_padding {
        padding: 60px 0;
    }

    /* header start*/
    .header {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .menu ul {
        margin-top: 15px;
    }

    .menu ul li {

        text-align: right;
        padding: 5px 0 !important;
    }

    .menu ul li a {
        display: inline-block;
    }

    /* header end*/
    /* banner start*/

    .single_slider-right-content h2 {
        font-size: 26px;
    }

    .single_slider-right-content h1 {
        font-size: 32px;
        margin: 15px 0;
    }

    .single_slider-right-content p {
        display: none;
    }

    .single_slider-right-content a {
        margin-top: 0px;
        padding: 5px 10px;
    }

    /* banner end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* header start*/
    .header {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    /* header end*/
    /* banner start*/
    .section_padding {
        padding: 50px 0;
    }

    .single_slider-right-content h2 {
        font-size: 30px;
    }

    .single_slider-right-content h1 {
        font-size: 38px;
        margin: 15px 0;
    }

    .single_slider-right-content a {
        margin-top: 15px;
    }

    /* banner end */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}